<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'tasks/task_list.css' %}">
    <title>Задачник</title>
</head>
<body>
<div class="container">
{% if tasks %}
    <table>
        <tr>
            <th>Задача</th>
            <th>Статус</th>
            <th>Категория</th>
            <th>Создано</th>
            <th>Действия</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{task.title}}</td>
            <td class="status status-{{ task.status }}">
                {{ task.get_status_display }}
            </td>
            <td>{% if task.category %} {{task.category}} {% else %} Без категории {% endif %}</td>
            <td>{{task.created_at|date:'d.m.Y H:i' }}</td>
            <td><a href="{% url 'task_update' task.pk %}">Изменить</a></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Пока ничего нет</p>
{% endif %}
<a href="{% url 'task_create' %}">Создать задачу</a>
</div>
</body>
</html>