body {
    background-color: #FAEBD7;
}
table {
    width: 60%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ccc;
    padding: 10px;
}
th {
    background-color: #FFE4C4;
    font-weight: bold;
}
td {
    background-color : #FFEBCD;
}
.container {
    margin: 40px;
}
a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #FFE4C4;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
    transition: 0.2s;
}
a:hover {
    background-color: #FFDAB9;
}
.status-new {
    color: #f01616;
}
status.status-progress {
    color: #FFFF00;
}
status.status-done {
    color: #46ab2c;
}